.fondo-nav{
    align-items: center;
}
.links-nav{
    text-align: center;
    color:rgb(120, 7, 182) ;
    display: flex;
    justify-content: space-evenly;

}
.img-nav{
   display: flex;
   justify-content: center;
}
.img-nav a{
    text-decoration: none;
    color: black;
}

.boton-hamburguesa{
    color: rgb(120, 7, 182);
}

