/* Navbar*/

.fondo-nav{
    align-items: center;
}
.links-nav{
    text-align: center;
    color:rgb(120, 7, 182) ;
    display: flex;
    justify-content: space-evenly;

}
.img-nav{
   display: flex;
   justify-content: center;
}
.img-nav a{
    text-decoration: none;
    color: black;
}
.carrito{
display: flex;
justify-content: right;
margin-right: 30px;
align-items: center;
color: rgb(120, 7, 182);
}
.boton-hamburguesa{
    color: rgb(120, 7, 182);
}
